<div>
	

	<form class="v-marge-bot">
		<div class="form-group">
			<label for="exampleInputEmail1">Titre</label>
			<input type="text" class="form-control" ng-model="addTitre" id="addTitre" placeholder="entrer le titre du projet">
			<label for="exampleInputEmail1">Description</label>
			<input type="text" class="form-control" ng-model="addDescription" id="addDescription" placeholder="entrer la description">
			<label for="exampleInputEmail1">Année</label>
			<input type="text" class="form-control" ng-model="addAnnee" id="addAnnee" placeholder="entrer l'année">
		</div>
		<button type="submit" ng-click="addProjet()" class="btn btn-default">Ajouter</button>
	</form>



</div>