<div>
	

	<form class="v-marge-bot">
		<div class="form-group">
			<label for="exampleInputEmail1">Nom</label>
			<input type="text" class="form-control" ng-model="addNom" id="addNom" placeholder="entrer le nom">
			<label for="exampleInputEmail1">Prénom</label>
			<input type="text" class="form-control" ng-model="addPrenom" id="addPrenom" placeholder="entrer le nom">
			<label for="exampleInputEmail1">Email</label>
			<input type="email" class="form-control" ng-model="addEmail" id="addEmail" placeholder="entrer le nom">
			<label for="exampleInputEmail1">website</label>
			<input type="text" class="form-control" ng-model="addWebsite" id="addWebsite" placeholder="entrer le nom">
		</div>
		<button type="submit" ng-click="addUser()" class="btn btn-default">Ajouter</button>
	</form>



</div>